.counter{
    display: flex;
    border: 5px solid black;
    flex-direction: row;
    height: 50vh;
}

.number{
    display: flex;
    color: blue;
    justify-content: center;
    align-self: center;
    width: 50%;
    font-size: 25.5vw;
}

.buttons{
    display: flex;
    width: 50%;
    flex-direction: column;
}

.buttons button{
    width: 100%;
    height: 100%;
}